<div class="container" *ngIf="currentUser; else loggedOut" >
  <header class="jumbotron" style="margin-top: 20px;">  
    <div class="row">
      <div class="col-sm-4">
        <!--Imagen profile -->
        <img id="profile-img" class="profile-img-card" style="margin-left:35px;" src="./assets/images/imagen_pf_04.jpg" />
        <!-- Nombre alias -->
        <h3>
          <strong>{{ currentUser.username }}</strong> Profile
        </h3>
        <strong>Rol: {{usuario.idTipoUsuario.tipoUsuario}}</strong>
      </div>

      <!--Columna informacion detallada -->
      <div class="col-sm-7">
      <!--Nombre -->  
      <p>
        <strong>Nombre:</strong>
        {{ usuario.nombre }} 
        {{ usuario.apellido1 }} 
        {{ usuario.apellido2 }} 
      </p>

      <!-- Nif -->
      <p>
        <strong>NIF: </strong>
        {{usuario.nif}}
      </p>

      <!-- Email -->
      <p>
        <strong>Email:</strong>
        {{ usuario.email }} 
      </p>
      <!--Telefono -->
      <p>
        <strong>Teléfono:</strong>
        {{ usuario.telefono1 }} 
        <strong>/</strong>
        {{ usuario.telefono2 }}
      </p>
      
      <!--Dirección -->
      <p><strong>Dirección: </strong>{{usuario.idDireccion.direccion}}, {{usuario.idDireccion.numero}}</p>
      <div class="row">
        <div class="col-sm-8">
          <p><strong>Municipio: </strong>{{usuario.idDireccion.municipio}}</p>
          <p><strong>Código postal: </strong>{{usuario.idDireccion.codPostal}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Provincia: </strong>{{usuario.idDireccion.provincia}}</p>
        </div>
      </div>
     

      </div>
  </div> 
  </header>
  
  <!--<p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Rol</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>-->