
 <div class="container">

        <!--Formulario--> 
        <form class="form-signin" *ngIf="!isLoggedIn" name="form"
        (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        
        <div class="card card-container">
          <!--Imagen-->  
          <img id="profile-img" class="profile-img-card" src="./assets/images/logo-login.jpg" />
          <p id="profile-name" class="profile-name-card">ABEDS</p> 
          <span id="reauth-email" class="reauth-email"></span>
              
          <!--Nombre de usuario-->  
          <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Nombre usuario" 
          required autofocus [(ngModel)]="form.username" #username="ngModel">
          
          <!--Validaciones Nombre de usuario-->  
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
          Nombre de usuario es requerido!
          </div>

          <!--Password--> 
          <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña"  
          name="password" [(ngModel)]="form.password" minlength="6" #password="ngModel" required>

          <!--Validaciones de password-->  
          <div class="alert alert-danger"
          role="alert" *ngIf="f.submitted && password.invalid" >
            <div *ngIf="password.errors.required">Debes rellenar la Contraseña </div>
            <div *ngIf="password.errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
          </div>
              
          <div id="remember" class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Recuerdame
            </label>
          </div>

          <!--Boton de login -->  
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>


          <!--Error de login, ponerlo como popup -->  
          <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed" >
                  Login failed: {{ errorMessage }}
            </div>
          </div>

           <!--Para registrarse en la aplicación --> 
          <a href="#" class="forgot-password">
            Registrarse
           </a>

          </div><!-- /card-container -->
          
        </form><!-- /form -->          
  </div><!-- /container -->



